# List, Tuple

In [2]:
# List
animals = ['','','','']
animals

['', '', '', '']

In [3]:
# Tuple
Cat = ('','','')
Cat

('', '', '')

In [6]:
animals.append('cat')
animals.append('hi')

In [7]:
animals

['', '', '', '', 'cat', 'hi', 'cat', 'hi']

In [8]:
animals.insert(1, 'tiger')
animals

['', 'tiger', '', '', '', 'cat', 'hi', 'cat', 'hi']

In [9]:
animals.remove('cat')
animals

['', 'tiger', '', '', '', 'hi', 'cat', 'hi']

In [11]:
escape_animal=animals.pop(5)
escape_animal

'hi'

In [12]:
animals

['', 'tiger', '', '', '', 'cat', 'hi']

In [13]:
numbers=[5,1,2,7]
numbers

[5, 1, 2, 7]

In [14]:
numbers.sort()
numbers

[1, 2, 5, 7]

In [15]:
numbers.reverse()
numbers

[7, 5, 2, 1]

In [16]:
print('hi', flush='True')

hi

In [21]:
numbers=[5,1,2,7]
numbers.sort(reverse=True)
numbers

[7, 5, 2, 1]

In [19]:
numbers.index(2)

2

In [23]:
numbers[:numbers.index(2)]

[7, 5]

In [24]:
numbers

[7, 5, 2, 1]

In [25]:
6 in numbers

False

In [28]:
numbers.append(0)

In [29]:
for num in numbers:
  if num==0:
    print('0 is in numbers')

0 is in numbers

In [32]:
pet= ('cat', 'dog')
pet

('cat', 'dog')

In [34]:
print(pet+'1')

TypeError: ignored

In [36]:
pet+Cat

('cat', 'dog', '', '', '')

In [39]:
x=(1,2)
y=(3,4)
x,y = y,x
print(x,y)

(3, 4) (1, 2)

In [40]:
pet=list(pet)
pet

['cat', 'dog']

In [42]:
pet.append('tiger')
pet=tuple(pet)
pet

('cat', 'dog', 'tiger', 'tiger')

In [43]:
type(pet)

tuple

list와 tuple을 이용하여 다음의 문제를 해결하세요.
1. 변수 animals 에 다음의 자료를 입력하세요.
rabbit, cat, dog, aligator, tiger, lion
2. animals에 새로운 동물을 3마리 추가하세요.
3. animals를 알파벳 내림차순으로 정렬하세요.
4. 정렬된 animals의 짝수(index 기준) 동물을 even_animals에 할당하세요.

In [44]:
# List ver.
animals=['rabbit','cat','dog','aligator','tiger','lion']
animals.extend(['cow','goat','deer'])
animals.sort(reverse=True)
even_animals=animals[::2]

print(animals)
print(even_animals)

['tiger', 'rabbit', 'lion', 'goat', 'dog', 'deer', 'cow', 'cat', 'aligator']
['tiger', 'lion', 'dog', 'cow', 'aligator']

In [49]:
# Tuple ver.
animals=('rabbit','cat','dog','aligator','tiger','lion')
add_animals=('cow','goat','deer')
animals=animals+add_animals
animals=list(animals)
animals.sort(reverse=True)
animals=tuple(animals)
even_animals=animals[::2]

print(animals)
print(even_animals)

('tiger', 'rabbit', 'lion', 'goat', 'dog', 'deer', 'cow', 'cat', 'aligator')
('tiger', 'lion', 'dog', 'cow', 'aligator')

# Dictionary

In [56]:
dict1={
    'name':'GwanHyeon',
    'surname':'Lee',
    }
dict2=dict([
    ('name','John'),
    ('surname','Doe'),  
])

In [55]:
dict1['name']

'GwanHyeon'

In [59]:
dict2['surname']

'Doe'

In [62]:
dict1['locale']='Seoul, Korea'

In [63]:
dict1

{'name': 'GwanHyeon', 'surname': 'Lee', 'locale': 'Seoul, Korea'}

In [64]:
dict1['email']='1@naver.com'
dict1

{'name': 'GwanHyeon',
 'surname': 'Lee',
 'locale': 'Seoul, Korea',
 'email': '1@naver.com'}

In [65]:
dict1['mid-term'] = {}
dict1

{'name': 'GwanHyeon',
 'surname': 'Lee',
 'locale': 'Seoul, Korea',
 'email': '1@naver.com',
 'mid-term': {}}

In [66]:
dict1['mid-term']['Korean'] = 80

In [67]:
dict1

{'name': 'GwanHyeon',
 'surname': 'Lee',
 'locale': 'Seoul, Korea',
 'email': '1@naver.com',
 'mid-term': {'Korean': 80}}

In [68]:
dict1['mid-term']['Math'] = 30
dict1['mid-term']['English'] = 50
dict1['mid-term']['Science'] = [10,40,30,50]
dict1

{'name': 'GwanHyeon',
 'surname': 'Lee',
 'locale': 'Seoul, Korea',
 'email': '1@naver.com',
 'mid-term': {'Korean': 80,
  'Math': 30,
  'English': 50,
  'Science': [10, 40, 30, 50]}}

In [69]:
dict1['mid-term']['English'] = 70
dict1 
# 딕셔너리 키 값 중복이 안되기 때문에 값을 수정 가능

{'name': 'GwanHyeon',
 'surname': 'Lee',
 'locale': 'Seoul, Korea',
 'email': '1@naver.com',
 'mid-term': {'Korean': 80,
  'Math': 30,
  'English': 70,
  'Science': [10, 40, 30, 50]}}

In [70]:
del dict1['email']
dict1

{'name': 'GwanHyeon',
 'surname': 'Lee',
 'locale': 'Seoul, Korea',
 'mid-term': {'Korean': 80,
  'Math': 30,
  'English': 70,
  'Science': [10, 40, 30, 50]}}

In [71]:
dict1.keys()

dict_keys(['name', 'surname', 'locale', 'mid-term'])

In [72]:
dict1.values()

dict_values(['GwanHyeon', 'Lee', 'Seoul, Korea', {'Korean': 80, 'Math': 30, 'English': 70, 'Science': [10, 40, 30, 50]}])

In [73]:
dict1.items()

dict_items([('name', 'GwanHyeon'), ('surname', 'Lee'), ('locale', 'Seoul, Korea'), ('mid-term', {'Korean': 80, 'Math': 30, 'English': 70, 'Science': [10, 40, 30, 50]})])

In [74]:
dict1.pop('surname')

'Lee'

In [75]:
dict1

{'name': 'GwanHyeon',
 'locale': 'Seoul, Korea',
 'mid-term': {'Korean': 80,
  'Math': 30,
  'English': 70,
  'Science': [10, 40, 30, 50]}}

In [77]:
dict1.popitem()

('mid-term',
 {'Korean': 80, 'Math': 30, 'English': 70, 'Science': [10, 40, 30, 50]})

In [78]:
dict1

{'name': 'GwanHyeon', 'locale': 'Seoul, Korea'}

In [79]:
dict1['English']

KeyError: ignored

In [80]:
dict1.get('English', 0)
# get으로 English값을 찾는데 English가 없으면 뒤에 값 반환(defalut는 공백)

0

In [81]:
dict1.setdefault('English',[])
# 키 값이 존재하는 경우에는 키값 호출, 만약 아니라면 []를 값으로 설정

[]

In [82]:
dict1

{'name': 'GwanHyeon', 'locale': 'Seoul, Korea', 'English': []}

In [83]:
dict1.get('eng')

In [86]:
len(dict1)

3

In [87]:
dict1.update({'name'})

AttributeError: ignored

In [90]:
contact={
    "name" : "Guido",
    "country" : "Netherland",
}
print(f"Hello, {contact['name']}. You are from {contact['country']}")
print("Hello, {name}. You are from {country}".format(**contact))

Hello, Guido. You are from Netherland
Hello, Guido. You are from Netherland

# Set

In [91]:
faang = {'facebook', 'apple', 'apple', 'netfilx', 'google'}
print(faang)

{'netfilx', 'google', 'apple', 'facebook'}

In [93]:
split_str = set('facebook')
split_str

{'a', 'b', 'c', 'e', 'f', 'k', 'o'}

In [94]:
'dangn' in faang

False

In [96]:
set_a = set('fastcampus')
set_b = set('shinhan')
print(set_a)
print(set_b)

print(set_a | set_b)
print(set_a & set_b)
print(set_a - set_b)
print(set_a ^ set_b) # 델타연산

{'s', 'u', 'a', 'm', 'p', 'c', 't', 'f'}
{'s', 'n', 'i', 'a', 'h'}
{'s', 'n', 'i', 'u', 'a', 'm', 'p', 'c', 't', 'h', 'f'}
{'s', 'a'}
{'u', 'm', 'p', 'c', 't', 'f'}
{'u', 'm', 't', 'h', 'f', 'n', 'i', 'p', 'c'}

dictionary와 set을 이용하여 다음 문제를 해결하세요.
1. 다음 인적사항을 입력하세요.
(list에 각 정보가 dict로 존재)
2. Jane Doe의 Locale을 London, UK 로 수정하세요.
3. list의 모든 아이템에 대해 key와 value를 모두 출력하세요.(반복문 쓰지 말 것)
4. 다음 list의 중복 아이템을 제거한 뒤, 내림차순으로 정렬하여 출력하세요.

In [119]:
users=[
    {
      'Name':'Johnny Silverhand',
      'Locale':'Night City',
      'Age':120,
      'Username':'Johnny'
    },
    {
      'Name':'John Doe',
      'Locale':'CA, USA',
      'Age':40,
      'Username':'Doh'
    },
    {
      'Name':'Jane Doe',
      'Locale':'Seoul, Korea',
      'Age':24,
      'Username':'jane-doe'  
    },
    {
      'Name':'Foo Bar',
      'Locale':'Busan, Korea',
      'Age':31,
      'Username':'foo-bar' 
    },
]
users

[{'Name': 'Johnny Silverhand',
  'Locale': 'Night City',
  'Age': 120,
  'Username': 'Johnny'},
 {'Name': 'John Doe', 'Locale': 'CA, USA', 'Age': 40, 'Username': 'Doh'},
 {'Name': 'Jane Doe',
  'Locale': 'Seoul, Korea',
  'Age': 24,
  'Username': 'jane-doe'},
 {'Name': 'Foo Bar',
  'Locale': 'Busan, Korea',
  'Age': 31,
  'Username': 'foo-bar'}]

In [122]:
users[2]['Locale']='London, UK'

In [124]:
users

[{'Name': 'Johnny Silverhand',
  'Locale': 'Night City',
  'Age': 120,
  'Username': 'Johnny'},
 {'Name': 'John Doe', 'Locale': 'CA, USA', 'Age': 40, 'Username': 'Doh'},
 {'Name': 'Jane Doe',
  'Locale': 'London, UK',
  'Age': 24,
  'Username': 'jane-doe'},
 {'Name': 'Foo Bar',
  'Locale': 'Busan, Korea',
  'Age': 31,
  'Username': 'foo-bar'}]

In [126]:
print(users[0].items())
print(users[1].items())
print(users[2].items())
print(users[3].items())

dict_items([('Name', 'Johnny Silverhand'), ('Locale', 'Night City'), ('Age', 120), ('Username', 'Johnny')])
dict_items([('Name', 'John Doe'), ('Locale', 'CA, USA'), ('Age', 40), ('Username', 'Doh')])
dict_items([('Name', 'Jane Doe'), ('Locale', 'London, UK'), ('Age', 24), ('Username', 'jane-doe')])
dict_items([('Name', 'Foo Bar'), ('Locale', 'Busan, Korea'), ('Age', 31), ('Username', 'foo-bar')])

In [130]:
cities = [
'Daejeon','Ulsan','Seoul','Jeju','Busan','Ulsan','Daegu','Daejeon','Seoul','Seoul','Daejeon','Gwangju','Busan','Daegu','Gwangju','Daejeon','Ulsan','Jeju','Gwangju','Seoul'
]
cities=set(cities)
cities=list(cities)
cities.sort(reverse=True)
cities

['Ulsan', 'Seoul', 'Jeju', 'Gwangju', 'Daejeon', 'Daegu', 'Busan']

In [135]:
# fizzbuzz
for i in range(1,16):
  if i%15==0:
    print('fizzbuzz')
  elif i%3==0:
    print('fizz')
  elif i%5==0:
    print('buzz')
  else:
    print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz

In [138]:
vat={
     'Korea':10,
     'Japan':8,
     'UK':20,
     }
price=int(input("제품 가격은? > "))
country=input("나라는? > ")
per=vat[country]
print(price*per/100)

제품 가격은? > 50000
나라는? > UK
10000.0

# if문

- 조건문:
  - 실행할 문장들

In [140]:
현금 = 10000
날씨 = 'rainy'
if 현금 <5000:
  print("음료를 사먹는다")
else:
  if 날씨=='rainy':
    print("국밥을 먹는다")
  else:
    print('냉면을 먹는다')

국밥을 먹는다

# Ternary Operators

In [141]:
"a" if True else "b"

'a'

In [142]:
numbers = [1,3,5,7,9]
num = 0
"odd" if num in numbers else "even"

'even'

In [143]:
num = 1
"odd" if num in numbers else "even"

'odd'

In [146]:
weekdays = ['t','w','t','f']
user_input = 'w'

"weekday" if user_input in weekdays else "weekend"

'weekday'

In [153]:
user_input = 'm'
print(
    "weekday" 
    if user_input in weekdays 
    else "난 월요일을 좋아하지 않아" 
    if user_input=="m" 
    else "weekend"
    )

난 월요일을 좋아하지 않아

## Practice - Leap year
을 출력하도록 Conditional Statements 와 Conditional Expressions로 각각 구현하세요

In [163]:
# Conditional Statements
user_input=2100
if user_input % 4==0 and user_input%100 != 0 or user_input%400 == 0:
  print(f"{user_input}은 윤년이다.")
else:
  print(f"{user_input}은 평년이다")

2100은 평년이다

In [162]:
# Conditional Expressions
user_input=1988
f"{user_input}은 윤년이다." if(user_input % 4==0 and (user_input%100)!=0 or (user_input%400)==0) else (f"{user_input}은 평년이다")

'1988은 윤년이다.'

# Loop
## For, while Statement

In [167]:
for i in range(1,5+1):
  print(i)

1
2
3
4
5

In [168]:
sum=0
for i in range(1,10+1):
  sum+=i
print(sum)

55

In [170]:
for c in "ShinhanProDigitalAcademy":
  print(c,end=' ')

S h i n h a n P r o D i g i t a l A c a d e m y

In [171]:
for item in ['cat', 'dog', 'hamster']:
  print(f'{item} is so cute!!!!!!!!!')

cat is so cute!!!!!!!!!
dog is so cute!!!!!!!!!
hamster is so cute!!!!!!!!!

In [176]:
for i in range(1, 100+1):
  if i%2==0 or i%3==0:
    continue
  elif i%17==0:
    break
  else:
    print(f'{i} is survived!!!')

1 is survived!!!
5 is survived!!!
7 is survived!!!
11 is survived!!!
13 is survived!!!

In [175]:
i=0
while i<10:
  i+=1
  if i%3==0:
    continue
  print(f"{i}입니다.")

1입니다.
2입니다.
4입니다.
5입니다.
7입니다.
8입니다.
10입니다.

## Fizzbuzz

In [196]:
# dest = int(input("Enter some num >>"))
dest = 30 # for debugging

for i in range(1, dest+1):
  if i%15==0:
    print('fizzbuzz')
  elif i%3==0:
    print('fizz')
  elif i%5==0:
    print('buzz')
  else:
    print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

In [202]:
3%3==0

True

In [203]:
5%5==0

True

In [204]:
True==1

True

In [205]:
False==0

True

In [200]:
# 한줄로 만드는 건 딕셔너리를 이용해서도 가능
# dest = int(input("Enter some num >>"))
dest = 30 # for debugging
for i in range(1, dest+1):
  if i%3==0 or i%5==0:
    print('fizz'*(i%3==0)+'buzz'*(i%5==0))
  else:
    print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

In [201]:
dest = 30 # for debugging
for i in range(1, dest+1):
  print(
      'fizzbuzz' if i%15==0 else
      'fizz' if i%3==0 else
      'buzz' if i%5==0 else
      i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

다음 문제를 해결하세요.
1. 사용자가 입력한 임의의 정수(2~100)에 대해 팩토리얼 연산을 수행하세요.
2. 다음 2차원 list에 대해 각 요소의 합을 구하세요.

[

[1, 0, 7, 0],

[0, 2, 0, 9],

[0, 6, 3, 7],

[4, 0, 5, 1],

]

In [183]:
user_input=6
i=1
sum=1

while i<=user_input:
  print(f"{i}",end="")
  if user_input!=i:
    print(" * ",end='')
  sum*=i
  i+=1
print(f"= {sum}")

1 * 2 * 3 * 4 * 5 * 6= 720

In [192]:
user_list=[
[1, 0, 7, 0],
[0, 2, 0, 9],
[0, 6, 3, 7],
[4, 0, 5, 1],
]
sum=0
for i in range(len(user_list)):
  for j in user_list[i]:
    sum+=j
print(sum)

45